.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 10%;
}

input {
  width: 268px;
  font-size: 35px;
  text-align: end;
}
.calculator {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 10px;
}

button {
  text-align: center;
  padding: 15px;
  font-size: 130%;
  height: 60px;
  width: 60px;
  border-radius: 30px;
  margin: 3px;
  background-color: #343434;
  border-color: rgba(140, 140, 140, 255);
  color: white;
  border-style: hidden;
}

.e {
  width: 128px;
}

body {
  background-color: black;
}
